#root{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  flex-direction: row;
  margin: auto;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #4BA9C3;
  padding: 50px;
  box-sizing: border-box;
  align-self: center;
}

h3 {
  color: #fff;
}

span {
  font-size: x-large;
  font-weight: bolder;
  color: #C34B63 ;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: 0.2em solid #fff;
  background: #C34B63;
  color: #fff;
  align-self: center;
  font-size: 1rem;
  font-weight: bold;
}

